extends layout

block content
  section(class='container')
    hgroup
      h1 Mantenimiento Hogar

    .row
      section( class='col-xs-12 col-sm-6 col-md-6')
        section
          h2 Albañileria
          h2 Herreria de obra
          h2 Carpinteria

      section( class='col-xs-12 col-sm-6 col-md-6')
        section
          p Welcome to #{title}